$colors: (
    pr-dark-cyan: hsl(185, 75%, 39%),
    pr-desturated-blue: hsl(229, 23%, 23%),
    pr-dark-grayish-blue: hsl(227, 10%, 46%),
    nt-dark-gray: hsl(0, 0%, 59%)
);

$f-size-username: 18px;
$f-size-likes: 9px;
$f-size-numbers: 18px;
$f-size-birth: 13px;
